<!DOCTYPE html>
<html>
<head>
    <title>House Price Prediction</title>
</head>
<body>

<h2>House Price Prediction</h2>

<form action="/predict" method="post">
    <input name="OverallQual" placeholder="Quality" required><br>
    <input name="GrLivArea" placeholder="Living (sqft)" required><br>
    <input name="TotalBsmtSF" placeholder="Basement" required><br>
    <input name="GarageCars" placeholder="Garage" required><br>
    <input name="FullBath" placeholder="Bathrooms" required><br>
    <input name="YearBuilt" placeholder="Year" required><br>

    <button type="submit">Predict Price of House</button>
</form>

{% if prediction %}
<h3>Predicted House Price: {{ prediction }}</h3>
{% endif %}

</body>
</html>
